<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab5</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div *ngIf="userProfile">
      <ion-card *ngIf="userProfile.bannerPicture" class="wallpaper">
        <img [src]="userProfile.bannerPicture" alt="Wallpaper">
      </ion-card>
  
      <div class="profile-picture">
        <img [src]="userProfile.profilePicture" alt="Profile Picture">
      </div>

      <div class="user-details">
        <h2>{{ userProfile.fullName }}</h2>
        <p>&#64;{{ userProfile.username }}</p>

        <ion-item *ngIf="userProfile.bio">
          <ion-label>Bio:</ion-label>
          <ion-textarea [(ngModel)]="userProfile.bio" maxlength="70"></ion-textarea>
        </ion-item>
      </div>
    </div>
  </ion-content>
</ion-content>
